/*--General--*/
body {
    background-color: black;
}

h2,
h3,
h4,
h5 {
    font-family: Helvetica;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

p {
    font-family: Helvetica;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

/*--Header--*/
header {
    border-bottom: 1px solid seashell;
    display: flex;
    height: 69px;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.logo {
    display: inline-flex;
    justify-content: flex-start;
    margin: 10px;
    height: 50px;
    color: seashell;
    opacity: 0.9;
}

.nav-bar {
    display: inline-flex;
    justify-content: flex-end;
    padding: 0 10px;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    text-decoration: underline;
    list-style-type: none;
    opacity: 0.9;
}

a {
    cursor: pointer;
}

/*--Mission--*/
#mission {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./resources/images/img-mission-background.jpg");
    height: 700px;
    max-width: 1200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    margin-bottom: 75px;
}

.mission-text {
    background-color: black;
    flex-wrap: wrap;
    height: 90px;
    width: 1200px;
    padding-bottom: 30px;
    opacity: 0.9;
}

/*--Featured Tea--*/
.tea-container {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 75px;
}

.tea-image {
    max-width: 300px;
    max-height: 200px;
    padding: 0 15px;
    margin-bottom: -10px;
}

/*--Locations--*/

#locations {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./resources/images/img-locations-background.jpg");
    min-height: 500px;
    max-width: 1200px;
    background-repeat: no-repeat;
    margin: 0 auto;
}


.box-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}

.locations-header {
    flex-wrap: wrap;
    width: 100%;
}

.location-box {
    width: 300px;
    margin: 15px 20px;
    background-color: black;
    opacity: 1;
}

/*--Footer--*/

.copyright {
    display: flex;
    text-align: left;
    margin-left: 20px;
}
